@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: 'Roboto', sans-serif;

    @apply
      font-thin
      bg-gray-800
      text-pink-50;
  }

  p {
    @apply
      my-4;
  }

  a {
    @apply
      text-blue-200
      hover:underline
      decoration-1;
  }

  h1 {
    @apply
      font-medium
      text-2xl
      text-indigo-200;
  }

  h2 {
    @apply
      font-normal
      text-xl
      text-indigo-200;
  }

  h3 {
    @apply
      font-normal
      text-lg
      text-indigo-200;
  }

  ul {
    @apply
      list-disc
      list-inside;
  }

  ol {
    @apply
      list-decimal
      list-inside;
  }
}

@layer components {
  .jm-container {
    @apply
      container
      px-4
      lg:px-10;
  }

  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
  }

  .fade-in {
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }
}
